/Django/blog/migrations/
/Django/single_pages/migrations/
/MLnDL/datasets/
/MLnDL/my_pet_classifier/
/venv/
/MLnDL/model.png
webdriver
examples
data
.DS_Store
.idea/*
__pycache__

*.dot
*.png
*.svg
result.txt
